version: 2
jobs:
  build:
    machine:
      image: ubuntu-2204:2023.04.2

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      - run:
          name: Install SDK 21
          command: wget https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.4%2B7/OpenJDK21U-jdk_x64_linux_hotspot_21.0.4_7.tar.gz &&
            tar -xvf OpenJDK21U-jdk_x64_linux_hotspot_21.0.4_7.tar.gz &&
            sudo mv jdk-21*/ /opt/jdk21 &&
            export JAVA_HOME=/opt/jdk21 &&
            echo "export JAVA_HOME=/opt/jdk21" >> ~/.bashrc &&
            echo "export PATH=$JAVA_HOME/bin:$PATH" >> ~/.bashrc

      - run:
          name: Build
          command: java -version &&
            mvn -B -DskipTests clean package

      - run:
          name: Test
          command: java -version &&
            make b

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
