<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">SpringFlash211Launcher=>Work it, just a little bit =>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}
            %p %m%n
        </Property>
        <Property name="FILE_LOG_DIR">/tmp</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="FILEOUT"
                     fileName="${FILE_LOG_DIR}/jeorg-spring-flash-2-11.log"
                     filePattern="${FILE_LOG_DIR}/jeorg-spring-flash-2-11-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

    </Appenders>
    <Loggers>

        <Logger name="org.jesperancinha.std.flash211.logs" additivity="false">
            <AppenderRef ref="FILEOUT"/>
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>