<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="book" class="org.jesperancinha.std.flash31.bean.initialization.domain.Book">
        <property name="cover" value="Silver"/>
        <property name="title" value="Book of dreams"/>
        <property name="author" value="Suzanne Vega"/>
    </bean>

    <bean id="bookService" class="org.jesperancinha.std.flash31.bean.initialization.domain.BookService">
        <property name="book" ref="book"/>
    </bean>
    <bean id="bookService2" class="org.jesperancinha.std.flash31.bean.initialization.domain.BookService"
          init-method="initializationExtra">
        <property name="book" ref="book"/>
    </bean>
    <bean id="bookService3" class="org.jesperancinha.std.flash31.bean.initialization.domain.BookService"
          init-method="initializationExtra"
          destroy-method="destructionExtra">
        <property name="book" ref="book"/>
    </bean>
</beans>