<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd
">

    <context:annotation-config/>
    <context:property-placeholder location="classpath:application.properties"/>

    <bean
            id="customEditorConfigurer"
            class="org.springframework.beans.factory.config.CustomEditorConfigurer"
            p:propertyEditorRegistrars-ref="propertyRegistrarList"/>

    <util:list id="propertyRegistrarList">
        <bean class="org.jesperancinha.sftd.topic.container.converters.CitrusRegistrar">
        </bean>
    </util:list>

    <bean id="limeId" class="org.jesperancinha.sftd.topic.container.converters.Lime">
        <constructor-arg index="0" value="56"/>
    </bean>

    <bean id="limeBasket" class="org.jesperancinha.sftd.topic.container.converters.LimeBasket"
          p:citrus1-ref="limeId"
          p:citrus2="lemon-234"/>
</beans>